body{
    background-color: #001724;
    opacity: .8;
}
.Menusign{
    font-weight: bold;
    
}
.Menu{
    color:red;
    font-size: 2em;
}
.weekformat{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-size: 25px;
    padding: 1px;
}
.calendarcard{
    color:purple;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    float: left;
    margin: 1px;
}